.dockerignore
.editorconfig
GPLv3.txt
LICENSE
README.md
TGS3.json
.github
.gitignore
.gitattributes
.git/hooks
.git/info
.git/modules
.git/objects
.git/refs
.vs*
cfg
data
SQL
node_modules
fortune13.dmb
fortune13.int
fortune13.rsc
fortune13.lk
fortune13.dyn.rsc
*.dll
Dockerfile
tools/bootstrap/.cache
